
*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

body{
  background-color: #C1E1C1;
}

.card {
  max-width: 800px;
  margin : 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap : 2px;
}

.card>input{
}

.card>button{
  width: 50%;
  color : wheat;
  background-color: darkgreen;
}

.read-the-docs {
  color: #888;
}

.item-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  gap : 1px;
}

.item{
  border: 1px solid gray;
  border-radius: 10px;
}

.item-list>a{
  text-decoration: none;
  color : black;
}

.info{
  color : green;
  border-radius: 5px;  
}

.error{
  color : red;
  border-radius: 5px;  
}